.custom-header {
    border: 1px solid black;
}

.card {
    cursor: pointer;
}

.custom-role-list {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #ffc100;
    color: #ffffff;
    font-size: 16px;
}

.custom-title {
    flex: 1;
    display: flex;
    justify-content: center;
    background: linear-gradient(
        0deg,
        rgba(196, 12, 12, 1) -20%,
        rgba(255, 138, 8, 1) 15%
    );
    color: #ffffff;
    padding: 10px;
}

.custom-clear-btn {
    cursor: pointer;
}
