.custom-header {
    border: 1px solid black;
}

.card {
    cursor: pointer;
}

.custom-role-list {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #ffc100;
    color: #ffffff;
    font-size: 16px;
}

.custom-title {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.custom-clear-btn {
    cursor: pointer;
}

.custom-input {
    padding: 6px;
    border-radius: 8px;
}
